*{
  font-family: "Texturina", serif;
}
.grey{
    background-color: #353A40;
}
nav{
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.img{
  background-image: url(../img/banner-buisnessman.jpg);
  height: 711px;
}
.img div q:first-of-type{
  font-size: 5em;
  overflow-y: hidden;
}

.img div q:last-of-type{
  font-size: 1.8em;
}

.fas.fa-chevron-down{
  font-size: 500%;
}
.col-12{
  padding-bottom: 50px;
}
